# Microsoft Entra ID (App Registration AndesStay / API)
# issuer v2.0
AZURE_ISSUER_URI=https://login.microsoftonline.com/<TENANT_ID>/v2.0
# Audience esperada del access token (Expose an API)
AZURE_AUDIENCE=api://<API_CLIENT_ID>
# Alternativo: solo tenant
AZURE_TENANT_ID=<TENANT_ID>

# CORS del frontend Angular
ANDESSTAY_CORS_ORIGINS=http://localhost:4200
